.Menu {
    position: relative;
    height: 30px;
    width: 30px;
    cursor: pointer;
    user-select: none;
    border: 0;
    &: focus{
      outline: 0;
    }
  
    &::before {
      content: '☰';
      top:-1px;
    }
  
    &.Open {
      &::before {
        content: '✕';
        top: 2px;
        font-size: 1.4em; 
      }
  
      .MenuContainer {
        transform: translateX(0);
      }
    }
  
    .MenuContainer {
      position: absolute;
      top: 100%;
      height: calc(100vh - 35px);
      padding: 20px 10px;
      background: rgba(144, 238, 144, 0.948);
      transform: translateX(-100%);
      transition: transform 200ms ease-in;
    }
  }