.User { 
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5 px;
    
    button {
        color: var(--white-color);
        background: transparent;
    }
    .userMenu {
        position: absolute;
        top: 100%;
        right: calc(var(--padding) * -1);
        background:var(--color-3);
        display: grid;
        width: max-content;
        padding: var(--padding);
        gap: 10px;
    }
    &.Open {
        .userMenu {
            display: grid;
        }
    }
}
